
.Bar {
  width: 400px;
  height: 100vh;
  margin-right: 20px;

  .fixed-container {
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-shadow: 10px 0 10px mix(#3D4366, #FEF5EB, 10%);
    overflow-y: scroll;

    .list {
      list-style: none;
      font-size: 17px;

      li {
        user-select: none;
        cursor: default;
        padding: 0 4px;
        margin-left: -40px;

        .creation-date {
          float: right;
        }

        &:hover {
          font-weight: bold;
        }

        &.active {
          font-weight: bold;
          border: 2px dashed #EF6461;

          .file-name {
            color: #EF6461;
          }
        }
      }
    }
  }
}
